.container {
    display: inline-grid;
    align-items: center;
    justify-items: start;
    column-count: 1;
    padding: 0;
    max-width: 640px;
    align-self: center;;
}

.text {
    text-align: center;
}

.centeredHorizontally {
    justify-self: center;
}

.results {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.scrolledArea {
    max-height: 312px;
    padding: 0 24px 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    box-sizing: border-box;
}
