.headerItem {
    text-decoration: none;
    color: #F2F2F3;
    display: flex;
    align-items: center;
    width: fit-content;
}

.inactive {
    color: #8585AD;
}

.headerItemCaption {
    margin: 0 0 0 8px;
}


