.container{
    display: flex;
    justify-content: stretch;
    width: 430px;
    flex-direction: column;
    row-gap: 24px;
    align-items: center;
}

.link{
    text-decoration: none;
    color: #4C4CFF;
}

.linkContainer{
    display: flex;
    justify-content:center;
    column-gap: 8px;

}
