.header {
    position: relative;

}

.logoItem {
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

}

.navigation {
    z-index: 1;
    width: 100%;

}

.headerList {

    display: flex;
    column-gap: 8px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lastItem {
    margin-left: auto;
}
